<!DOCTYPE html>
<html>
  <head>
    <title>Warehouse</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
      crossorigin="anonymous"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/register.css" />
  </head>

  <body>
    <nav
      class="navbar navbar-expand-md navbar-dark fixed-top py-1"
      style="
        background-color: black;
        font-family: Merriweather;
        font-size: 15px;
      "
    >
      <a class="navbar-brand" href="/">Warehouse</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarLinks"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarLinks">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/find">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
        </ul>

        <ul class="navbar-nav navbar-right">
          <% if(!currentUser){ %>
          <li class="nav-item">
            <a class="nav-link" href="/register">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          <%}else{%>
          <li class="nav-item">
            <a class="nav-link" href="/profile"
              >hi, <%=currentUser.username%></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <%}%>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%if(error && error.length > 0){%>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <%}%> <% if(success && success.length > 0){%>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
      <%}%>
    </div>
  </body>
</html>
